<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="testpython" path=".py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\mathan.govindarajan\AppData\Local\Programs\Python\Python35\python.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
