<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="python" />
            <add name="pyth" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\mathan.govindarajan\AppData\Local\Programs\Python\Python35\python.exe" resourceType="File" />
            <add name="python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\mathan.govindarajan\AppData\Local\Programs\Python\Python35\python.exe %s %s" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
